<h2>Bienvenidos a Express-Handlebars</h2>

<p>Mi nombre es {{usuario.nombre}} </p>
<p>Mi apellido es {{usuario.apellido}} </p>

{{!-- Condicionales --}}

{{#if usuario.mayorEdad}}
<p>Es mayor de edad</p>

{{else}}
<p>Es menor de edad</p>
{{/if}}


{{!-- Llamar partials --}}

{{>card}}