<h2>Bienvenidos!</h2>

<h2>Ferretería</h2>

<h2>Lista de Productos:</h2>

<div class="contenedor-productos">
    {{>card}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>