<h2>Bienvenidos a Express-Handlebars</h2>

<p>info del p1</p>
<p>info del p2  </p>

{{!-- Condicionales --}}

{{!-- {{#if usuario.mayorEdad}}
<p>Es mayor de edad</p>

{{else}}
<p>Es menor de edad</p>
{{/if}}

 --}}
{{!-- Llamar partials --}}

{{>card}}